.section {   
    border: 1px solid #bdbcbc;
    margin: 10px auto;
    background-color: #fff;
    max-width: 800px;
    padding: 20px;
}

.section__header {
    display: grid;   
    grid-template-columns: 1fr auto;
    margin: 10px auto;
    background-color: #fff;
    max-width: 800px;
    border-bottom: 2px solid #bdbcbc;
}

.section__title {
    font-size: x-large;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}