.buttons {
    display: flex;
    flex-wrap: wrap; 
}

@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
        justify-content: center;
    }
}

.buttons__button {
    margin-top: 0;
    padding: 10px;
    border: none;
    color: hsl(180, 100%, 25%);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #808080;
}